<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-6 offset-3 ">
    <h4><%= listing.title %></h4>
  </div>
  
  <div class="card col-6 offset-3 show-card mb-3 listing-card">
    <img
      src="<%= listing.image.url %>"
      class="card-img-top show-img"
      alt="listing-img"
    />
    <div class="card-body">
      <p class="card-text">Owned by <i></i><%= listing.owner.username? listing.owner.username:"Unknown" %></i></p>
        
       <p class="card-text">  <li><%= listing.description %></li> </p> 
         <p class="card-text"> <li>&#8377;<%= listing.price.toLocaleString("en-IN") %></li></p> 
       <p class="card-text"><li><%= listing.location %></li></p> 
        <p class="card-text"> <li><%= listing.country %></li></p> 
    
    </div>
  </div>
  <br />
<% if(currUser && listing.owner._id.equals(currUser._id)) { %>
  <div class="btns">
    <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3">Edit</a>

    <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE" class="d-inline">
      <button class="btn btn-dark offset-1">Delete</button>
    </form>
  </div>
  <% }  %>
 
  <div class="col-8 offset-3 mb-3">
    <hr/>
    <% if(currUser){ %>
    <h4>Leave a review</h4>
    <form action="/listings/<%= listing.id %>/reviews" method="POST" novalidate class="needs-validation">
      <div class="mb-3 mt-3">
        <label for="rating" class="form-label">Rating</label>
        <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
      </div>
      <div class="mb-3 mt-3">
        <label for="comment" class="form-label" >Comments</label>
        <textarea name="review[comment]" 
        id="comment" 
        cols="30"
        rows="5"
        class="form-control"
        required
      ></textarea>
      <div class="invalid-feedback">please provide some feedback</div>
      </div>
      <button class="btn btn-outline-dark">Submit</button>
    </form>
    <% } %>
    
  <p class="mt-4"><b>All Reviews</p></b>
  <div class="row">
    <% for( review of listing.reviews){ %>
       <div class="card col-5 ms-3 mb-3">
        <div class="card-body">
          <h5 class="card-title">@<%= review.author.username %></h5>
          <p class="card-text"><%= review.comment %></p>
           <p class="card-text"><%= review.rating %>stars</p>
        
         <% if(currUser && review.author && currUser._id.toString()=== review.author._id.toString()) { %> 
        <form mb-3 method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
          <button class="btn btn-sm btn-dark">Delete</button>
        </form>
      
    <%  }  %>
  </div>
  </div>
  </div>
   <%  }  %>
    </div>
</div>

        